This is the global configuration file for t1lib.
Must set environment variable T1LIB_CONFIG=<path to this file>

The paths to the following locations are relative to
the application's current directory, not this file.

FONTDATABASE=fonts/t1lib/FontDataBase   
ENCODING=fonts/t1lib/enc
AFM=fonts/t1lib/afm
TYPE1=fonts/t1lib/type1
