built 0
counts 1 0 0 0 0 0 0 0 0 0 0 1 1 0
widgetname window0
parent NULL
xpos -227
ypos -288
type 0
height 429
width 565
enabled 1
visible 1
caption "Window"
menubarypos 0
callbackcount 0
$
widgetname rawwidget0
parent window0
xpos 59
ypos -8
type 12
height 30
width 60
enabled 1
visible 1
callbackcount 0
$
widgetname combobox0
parent window0
xpos 65
ypos 58
type 11
height 15
width 80
enabled 1
visible 1
callbackcount 0
$
