This is the global configuration file for t1lib.
If this file is moved to another location, the
T1LIB_FONT_DIR must be set and/or the
environment variable set T1LIB_CONFIG=<path to this file>.

The paths to the following locations are relative to
the application's current directory, not this file.

Currently, the T1LIB font subdriver is written to ignore
the fontdatabase, and allow any .pfb fonts, provided that the
path to these fonts is in the afm and type1 entries below,
seperated by colons.

FONTDATABASE=fonts/type1/FontDataBase
ENCODING=fonts/type1
AFM=fonts/type1:/usr/share/fonts/X11/Type1
TYPE1=fonts/type1:/usr/share/fonts/X11/Type1
